<hlm-sidebar-group>
  <div hlmSidebarGroupLabel>{{ 'layout.sidebar.more' | t }}</div>

  <div hlmSidebarGroupContent>
    <ul hlmSidebarMenu>
      <li hlmSidebarMenuItem>
        <a
          hlmSidebarMenuButton
          size="sm"
          [tooltip]="'report.title' | t"
          routerLink="/report"
          routerLinkActive
          #report="routerLinkActive"
          [isActive]="report.isActive"
        >
          <app-icon name="audit-clean" />
          <span>{{ 'report.title' | t }}</span>
        </a>
        @if (flaggedCount()) {
          <div hlmSidebarMenuBadge class="text-destructive">{{ flaggedCount() }}</div>
        }
      </li>

      @for (destination of destinations; track destination.route) {
        <li hlmSidebarMenuItem>
          <a
            hlmSidebarMenuButton
            size="sm"
            [tooltip]="destination.label | t"
            [routerLink]="destination.route"
            routerLinkActive
            #link="routerLinkActive"
            [isActive]="link.isActive"
          >
            <app-icon [name]="destination.icon" />
            <span>{{ destination.label | t }}</span>
          </a>
        </li>
      }
    </ul>
  </div>
</hlm-sidebar-group>
